<!DOCTYPE html>
<html>
<head>
    <title>Monster Slayer</title>
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="css/foundation.min.css">
    <link rel="stylesheet" href="css/app.css">
</head>
<body>
<div id="app">
    <section class="row">
        <div class="small-6 columns">
            <h1 class="text-center">YOU</h1>
            <div class="healthbar">
                <div class="healthbar text-center" :style="{width: you + '%'}" style="background-color: green; margin: 0; color: white;">
                    {{you}}
                </div>
            </div>
        </div>
        <div class="small-6 columns">
            <h1 class="text-center">MONSTER</h1>
            <div class="healthbar">
                <div class="healthbar text-center" :style="{width: monster + '%'}" style="background-color: green; margin: 0; color: white;">
                    {{monster}}
                </div>
            </div>
        </div>
    </section>
    <section class="row controls" v-if="!start">
        <div class="small-12 columns">
            <button id="start-game" v-on:click="start = true" >START NEW GAME</button>
        </div>
    </section>
    <section class="row controls" v-else>
        <div class="small-12 columns">
            <button id="attack" v-on:click="attack">ATTACK</button>
            <button id="special-attack" v-on:click="super_attack">SPECIAL ATTACK</button>
            <button id="heal" v-on:click="heal">HEAL</button>
            <button id="give-up" v-on:click="giveUp">GIVE UP</button>
        </div>
    </section>
    <section class="row log" v-if="logs.length != 0">
        <div class="small-12 columns">
            <ul>
              <template v-for="(value,index) in logs">
                  <li v-if="value < 0" class="player-turn"> Player heals himself by {{-1 * value}} </li>
                  <li v-else-if="index % 2 === 0 && index > -1" class="player-turn"> Player hit monster by {{value}}  </li>
                  <li v-else class="monster-turn"> Monster hit player by {{value}}  </li>
              </template>
            </ul>
        </div>
    </section>
</div>
</body>
  <script src="javascript.vue"></script>
</html>
